{% extends 'base.html' %}

{% block titolo %}Aggiungi libro{% endblock %}

{% block contenuto %}
<p>
<h1>
    Aggiungi un nuovo libro
</h1>

<form action="/aggiungiLibro" method="POST">
    <h3>ISBN</h3>
    <input type="text" name="isbn" placeholder="Es. 9783161484100" pattern="\d+" title="Inserisci solo numeri"
        onkeypress="return /[0-9]/.test(event.key)" oninput="this.value = this.value.replace(/\D/g, '')" />

    <h3>Titolo</h3>
    <input type="text" name="titolo" placeholder="Es. Il Signore degli Anelli" />

    <h3>CodAutore</h3>
    <input type="text" name="codAutore" placeholder="Es. Aut001" />

    <h3>Anno</h3>
    <input type="text" name="anno" placeholder="Es. 2024" pattern="\d+" title="Inserisci solo numeri"
        onkeypress="return /[0-9]/.test(event.key)" oninput="this.value = this.value.replace(/\D/g, '')" />

    <h3>Categoria</h3>
    <input type="text" name="categoria" placeholder="Es. Fantascienza" />

    <button type="button" onclick="resetForm()" class="cancel-button">Cancella</button>
    <input type="submit" value="Aggiungi" class="submit-button" />
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="flash {{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

</p>


<script>
    function resetForm() {
        document.querySelector("form").reset();
    }
</script>

{% endblock %}
