<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block titolo %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <nav>
    <a href="{{ url_for('homePage') }}">Home Page</a>
    <a href="{{ url_for('libri') }}">Libri</a>
    <a href="{{ url_for('gestioneBiblioteca') }}">Gestione biblioteca</a>
    {% if session.get("admin_logged_in") %}
    <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
    <a href="{{ url_for('loginAdmin') }}">Login admin</a>
    {% endif %}
  </nav>

  <main class="container">{% block contenuto %}{% endblock %}
  </main>


</body>

</html>