{%extends 'base.html'%}
{%block titolo%}Gestione biblioteca{%endblock%}

{%block contenuto%}
<h1>Gestione Biblioteca</h1>
    
<div>
    <h2>
        Aggiungi un nuovo autore
    </h2>
    
    <form action="/gestioneBiblioteca" method="POST">
        <input type="hidden" name="form_type" value="autore">

        <h3>CodAutore</h3>
        <input type="text" name="codAutore" placeholder="Es. Aut001"/>
    
        <h3>Nome</h3>
        <input type="text" name="nome" placeholder="Es. Luigi"/>
    
        <h3>Cognome</h3>
        <input type="text" name="cognome" placeholder="Es. Pirandello"/>
    
        <h3>Data di nascita</h3>
        <input type="date" name="dataNascita" />
    
        <h3>Data di morte (facoltativa)</h3>
        <input type="date" name="dataMorte" placeholder="Lascia vuoto se vivente">
    
        <button type="button" onclick="resetForm()" class="cancel-button">Cancella</button>
        <input type="submit" value="Aggiungi" class="submit-button" />
    </form>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div>{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    
    </div>

    <div>
        <h2>
            Aggiungi un nuovo libro
        </h2>
        
        <form action="/gestioneBiblioteca" method="POST">
            <input type="hidden" name="form_type" value="libro">

            <h3>ISBN</h3>
            <input type="text" name="isbn" placeholder="Es. 9783161484100" pattern="\d+" title="Inserisci solo numeri"
                onkeypress="return /[0-9]/.test(event.key)" oninput="this.value = this.value.replace(/\D/g, '')" />
        
            <h3>Titolo</h3>
            <input type="text" name="titolo" placeholder="Es. Il Signore degli Anelli" />
        
            <h3>CodAutore</h3>
            <input type="text" name="codAutore" placeholder="Es. Aut001" />
        
            <h3>Anno</h3>
            <input type="text" name="anno" placeholder="Es. 2024" pattern="\d+" title="Inserisci solo numeri"
                onkeypress="return /[0-9]/.test(event.key)" oninput="this.value = this.value.replace(/\D/g, '')" />
        
            <h3>Categoria</h3>
            <input type="text" name="categoria" placeholder="Es. Fantascienza" />
        
            <button type="button" onclick="resetForm()" class="cancel-button">Cancella</button>
            <input type="submit" value="Aggiungi" class="submit-button" />
        </form>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        
    </div>

    <script>
        function resetForm() {
            document.querySelector("form").reset();
        }
    </script>
{%endblock%}