{% extends 'base.html' %}
{% block titolo %}Home Page{% endblock %}

{%block contenuto%}
<div>
    <h1>Benvenuti alla Biblioteca Comunale</h1>
</div>

<div>
    <h2>Chi siamo</h2>
    <p>La Biblioteca Comunale è un luogo dedicato alla lettura, alla cultura e alla conoscenza. Offriamo una vasta
        collezione di libri, riviste e risorse digitali per tutte le età.</p>
</div>

<div>
    <h2>Orari di apertura</h2>
    <p>Lunedì - Venerdì: 9:00 - 19:00</p>
    <p>Sabato: 9:00 - 13:00</p>
    <p>Domenica: Chiuso</p>
</div>

<div>
    <h2>I nostri servizi</h2>
    <ul>
        <li>Prestito libri e riviste</li>
        <li>Accesso a internet e computer</li>
        <li>Eventi culturali e laboratori</li>
        <li>Area studio e ricerca</li>
    </ul>
</div>

<div>
    <h2>Contatti</h2>
    <p>Email: info@bibliotecacomunalecrvgns.it</p>
    <p>Telefono: 0123-456789</p>
    <p>Indirizzo: Via Caravaggio 21, Carovigno</p>
</div>
{%endblock%}