{%extends 'base.html'%}
{%block titolo%}Login admin{%endblock%}

{%block contenuto%}
<h1>Login admin</h1>

{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<form action="/loginAdmin" method="post">
    <h3>Email</h3>
    <input type="text" name="email" />

    <h3>Password</h3>
    <input type="password" name="password" />

    <input type="submit" value="Accedi" />
</form>



{%endblock%}